.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
}

.crypto-card {
  width: 25rem;
  background-color: #1e1e1e;
  border-color: #007acc;
  border-width: 3px;
  color: #fff;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.select-option {
  width: 12.5rem;
}

@media screen and (max-width: 620px) {
  .crypto-card {
    width: 80%;
  }

  .select-box {
    flex-direction: column;
    gap: 1.5rem;
  }

  .select-option {
    width: 100%;
  }
}
